<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta content="IE=Edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="#000000" name="theme-color">
  <link rel="stylesheet" href="css/index.css">
  <title>Lynch.org</title>
</head>
<body>
	<nav>
      <button class="logo" onclick="home()">lynch.org</button>
      <ul>
        <li><button id="btn_home" onclick="home()">Home</button></li>
        <li><button id="btn_about" onclick="about()">About</button></li>
      </ul>
    </nav>
    <div class="content">
      <div id="con_home">
         <center>
           <img class="image" src="./resource/banner.jpg">
         </center>
         <br><br>
         <h1>Penting</h1>
         <p>Maaf atas ketidak nyamananya,untuk sementara koten di blog ini belum di buat.</p>
         <br><br><br>
         <center>
           <script src="https://zeev-x.github.io/js/json/index.js"></script>
           <script>
             window.onload = stars();
           </script>
           <div class="image" id="result">
             <p>Sebagai permintaan maaf akan saya tampilkan benerapa gambar yang bisa kamu unduh.</p><br><br>
           </div>
         </center>
      </div>
      <div id="con_about">
        <h3>About Zeev-x</h3>
        <img src="./resource/logo.svg" height="250px">
        <p><a class="clr" href="https://github.com/Zeev-x/">Zeev-x</a> is a beginner website designer who still needs to learn a lot about designing websites, so if you want to provide input, I will really appreciate it and I'm very grateful for your input. You can find a repository that doesn't know what it's used for on <a class="clr" href="https://github.com/Zeev-x/">Zeev-x's Github</a>.</p>
      </div>
    </div>
    <script src="js/index.js"></script>
    <style>
      #result {
        display: block;
      }
    </style>
</body>
</html>